:root { /* Variables */
  --window-frame-color: #a0522d;
  --window-frame-thickness: 16px;
  --window-width: 400px;
  --window-height: 400px;
  --rotation: 2deg;
}

.window .window-pane {border: var(--window-frame-thickness) solid var(--window-frame-color);}

.window {
  width: var(--window-width);
  height: var(--window-height);
  position: absolute;
  top: calc(50vh - (var(--window-height) / 2));
  left: calc(50vw - (var(--window-width) / 2));
  animation: rotate 2s infinite alternate-reverse ease-in-out;
  transform: rotate(0deg);
  backdrop-filter: blur(10px) brightness(0.8);
  -webkit-backdrop-filter: blur(10px) brightness(0.8);
  border: var(--window-frame-thickness) solid var(--window-frame-color);
  border-spacing: 0px !important;
  box-shadow: 0px 0px 30px 7px #000000;
}

.window::before { /* Rope the window is hanging on */
  content: "";
  width: 2px;
  height: calc(50vh - (var(--window-height) / 10));
  background: #000000;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -2px;
}

.fullscreen-message {
  backdrop-filter: brightness(0.6) blur(3px);
  -webkit-backdrop-filter: brightness(0.6) blur(3px);
  color: #ffffff;
  text-align: center;
  padding: 0.01px 0px;
  height: 100vh;
}

body {
  background-position: top left;
  background-repeat: no-repeat !important;
  background-size: 200vmax !important;
  animation: background-shift 10s ease-in-out infinite alternate;
  overflow: hidden;
  background: url(/img/outside-hq.webp), #a7a193;
  transition: all 1s ease-in-out;
  font-family: "Courier New", Courier, monospace;
  margin: 0px;
}

/* Animations */

@keyframes background-shift { 50% {background-position: top right;} }

@keyframes rotate { 33% {transform: rotate(var(--rotation));} 66% {  transform: rotate(calc(var(--rotation) * -1));} }

/* Media queries */

@media (min-height: 427px) {
  :root {
    --rotation: 4deg;
  }
}

@media (min-height: 700px) {
  :root {
    --rotation: 6deg;
  }
}

@media (min-height: 853px) {
  :root {
    --rotation: 8deg;
  }
}

@media (min-height: 1080px) {
  :root {
    --rotation: 10deg;
  }
}

@media (min-height: 2160px) {
  :root {
    --rotation: 13deg;
  }
}

@media (min-height: 3638px) {
  :root {
    --rotation: 16deg;
  }
}
